.application .theme--light.toolbar, .theme--light .toolbar {
  background-color: #039be5!important;
  z-index: 10;
}

.navigation-drawer {
  background-color: #262f3d!important;
}

.footer--absolute, .footer--fixed {
    z-index: 50!important;
}

.card {
-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}

aside.navigation-drawer.navigation-drawer--clipped.navigation-drawer--fixed.navigation-drawer--mini-variant.navigation-drawer--open.theme--dark {
width: 64px;
}

.list__tile {
padding : 0 10px!important;
}

nav.toolbar.toolbar--dense.toolbar--floating {
    position: relative;
    top: 1.8em;
    left: 6em;
    background-color: #fff!important;
    z-index: 9 !important;
}
