.application .theme--light.toolbar, .theme--light .toolbar {
  background-color: #039be5!important;
  z-index: 10;
}

.navigation-drawer {
  background-color: #262f3d!important;
}

.footer--absolute, .footer--fixed {
    z-index: 50!important;
}

.card {
-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}

aside.navigation-drawer.navigation-drawer--clipped.navigation-drawer--fixed.navigation-drawer--mini-variant.navigation-drawer--open.theme--dark {
width: 64px;
}

.list__tile {
padding : 0 10px!important;
}

nav.toolbar.toolbar--dense.toolbar--floating {
    position: relative;
    top: 1.6em;
    left: 3em;
    z-index: 9 !important;
}

.isActive {
    background: #ffffff36;
    color: #ffffff;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(187, 187, 187, 0.34);
    border-radius: 0px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #c1c1c1;
}

list--dense {
    padding-top: 0px!important;
    padding-bottom: 4px;
}
